body {
  box-sizing: border-box;
  background-color: #f8f9f1;
  font-family: fantasy;
}

#root {
  padding: 2rem 20rem 0;
}

main {
  height: 100vh;
  background: #b5d161;
  border-radius: 1rem;
  padding: 2rem;
}

a {
  color: unset;
  text-decoration: none;
}

header {
  display: flex;
  border-bottom: 1rem solid #687e25;
  border-radius: 1rem;
  color: #59804d;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  font-weight: 900;
}

.logo {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 5px;
  cursor: pointer;
}

.title-nav {
  text-align: center;
  width: 100%;
}

.title-nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: unset;
  padding: 0 5rem;
  font-size: 1.5rem;
}

.hightlight {
  color: #243010;
  font-weight: 900;
}

.home {
  margin: 0rem 5rem;
  font-size: 1.1rem;
}

.intro {
  text-align: center;
}

.intro h6{
  margin: unset;
  font-size: 1.1rem;
}

.intro h4 {
  margin: 0.5rem 0;
  font-size: 1.4rem;
}

.intro p {
  text-align: left;
  margin: 1.5rem 0;
}

.visitors {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.visitors img {
  border-radius: 8px;
}

.menu {
  margin: 0rem 5rem;
  font-size: 1.1rem;
  text-align: center;
}

.menu li {
  margin-bottom: 0.8rem;
}

.menu li span {
  font-size: 1.2rem;
}

.beverage {
  margin-top: 1.5rem;
}